USE [master]
GO
/****** Object:  Database [ProjetoUpBrasil]    Script Date: 18/07/2022 19:07:11 ******/
CREATE DATABASE [ProjetoUpBrasil]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjetoUpBrasil', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjetoUpBrasil.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjetoUpBrasil_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProjetoUpBrasil_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjetoUpBrasil].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjetoUpBrasil]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 18/07/2022 19:07:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NomeCliente] [varchar](50) NOT NULL,
	[Descricao] [varchar](50) NULL,
	[Ativo] [bit] NOT NULL,
	[DtCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
